body{
    color: #000000;
    background-image: url("https://i.pinimg.com/originals/76/89/c5/7689c5513084cd3ae199cec4f9b84af3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}
.main-block{
	width: 90%;
	margin: 50px auto;
	border-radius: 15px;
	background: linear-gradient(45deg, #dd5e89,#f7bb97);
}


.container-drop, .dnd-onto-website{
  height: 100%;
}
.dnd-onto-website .container-drop {
  min-height: 300px;
  background: #eee;
  border: solid 2px #ddd;
  /*padding: 15px;*/
  -webkit-transition: all 300ms ease-in;
  -moz-transition: all 300ms ease-in;
  -o-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
  position: relative;

}
.dnd-onto-website .container-drop:before {
  content: '\f019';
  position: absolute;
  top: 50%;
  left: 50%;
  top: calc(50% - 40px);
  left: calc(50% - 40px);
  font-family: fontawesome;
  width: 80px;
  height: 80px;
  font-size: 80px;
  line-height: 80px;
  color: #ccc;
  -webkit-transition: all 300ms ease-in;
  -moz-transition: all 300ms ease-in;
  -o-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
  z-index: 1;
}

.dnd-onto-website .container-drop img {
  max-width: 100%;
  height: auto;
  position: relative;
  z-index: 2;
}

.title {
	margin: 0px auto;
    width: 100%;
	height: 50px;
	text-align: center;
	color: white;
	font-family: 'Lobster', cursive;
}
.margin{
	padding: 10px;
	width: 100%;
}

.input-style{
	border:3px solid black;
	padding: 8px;
}
input:focus, textarea:focus{
	outline: none;
}
input[placeholder], textarea[placeholder]{
	font-style: italic;
}

/*FORM-3*/

.admin-box{
	border:3px solid black;
	background: #fff;
	height: 200px;
	overflow: hidden;
}
@media (min-width: 768px) {
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1  {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1 {
    width: 14.285714285714285714285714285714%;
  }
}

@media (min-width: 1200px) {
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1 {
    width: 14.285714285714285714285714285714%;
  }
}